USE [master]
GO
/****** Object:  Database [EnglishWordGame]    Script Date: 9.11.2024 17:28:46 ******/
CREATE DATABASE [EnglishWordGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnglishWordGame', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EnglishWordGame.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnglishWordGame_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EnglishWordGame_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnglishWordGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnglishWordGame]
GO
/****** Object:  Table [dbo].[Tbl_Players]    Script Date: 9.11.2024 17:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Players](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Password] [varchar](20) NULL,
	[CorrectAnswer] [smallint] NULL,
	[WrongAnswer] [smallint] NULL,
	[Unanswered] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Words]    Script Date: 9.11.2024 17:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Words](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[English] [varchar](20) NULL,
	[Turkish] [varchar](20) NULL
) ON [PRIMARY]
GO
USE [master]
GO
